body {
  margin: 0;

  min-height: 100vh;
  width: calc(100vw);

  /* background: linear-gradient(#ffdfca, #433c3c);
  b */

  background-image: linear-gradient(#ffffff00, #141a1c),
    url(`assets/backgrounds/06_RaysBG.jpg`);
  background-size: cover;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h1 {
  font-size: 20vw;
  font-family: Arial, Helvetica, sans-serif;
}

#buttonFlex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  max-height: 10rem;
  max-width: 10rem;
  margin: 1rem;
  border-radius: 1rem;
  transition: all 0.1s cubic-bezier(0.46, 1.03, 0.68, 1.27);
  background: linear-gradient(#004c92, #1f2123);
  border: solid black 5px;
}

button:hover {
  transform: scale(0.95);
}

button:active {
  transform: scale(0.8);
}

button:disabled {
  opacity: 0.5;
}

button object {
  width: 100%;
  pointer-events: none;
  flex-shrink: 1;
}

#player-score {
  color: #004c92;
}

#ai-score {
  color: #920006;
}

#play-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#player,
#ai {
  flex: 1 1 0;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#ai .images {
  transform: scaleX(-1);
}

.fists {
  width: 100vw;

  height: max-content;
  justify-content: center;
  display: flex;
  flex-direction: row;
  visibility: hidden;
}

.fist {
  visibility: visible;
}

.dust {
  opacity: 0.2;
  position: absolute;
  pointer-events: none;
  max-width: 50vw;
  max-height: 50vw;
  flex-shrink: 1;
  transform: translate(5vw, 6vw) scale(0.8, 0.2);
}

.fists[data*='scissors'] {
  position: relative;
}

.fists {
  max-width: 50vw;
  flex-shrink: 1;
  pointer-events: none;
  position: absolute;
}

@media (min-width: 400px) {
  #buttonFlex {
    flex-wrap: nowrap;
  }
}

@media (min-width: 600px) {
  .fists,
  .dust {
    max-width: 30vw;
  }

  .dust {
    max-height: 30vw;
  }

  h1 {
    font-size: 15rem;
  }

  #player,
  #ai {
    flex-direction: row-reverse;
  }
  #player {
    flex-direction: row;
  }
}

@keyframes pound {
  0% {
    transform: translate(1px, 0.000011px) rotate(0deg);
  }
  0.333333% {
    transform: rotate(-10deg);
  }
  3% {
    transform: rotate(-10deg);
  }
  4% {
    transform: translate(1px, -360px) rotate(8deg);
  }
  10.666667% {
    transform: translate(1px, -360px) rotate(8deg);
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
  }
  11.666667% {
    transform: translate(1px, -380px) rotate(17.02932deg);
  }
  12.666667% {
    transform: translate(1px, -10px) rotate(0deg);
  }
  13.333333% {
    transform: translate(1px, 0.000011px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 0.000011px) rotate(0deg);
  }
}

@keyframes screenShake {
  4% {
    transform: translateY(0) scale(1);
  }
  10% {
    transform: translateY(-10px) scale(1);
  }
  20% {
    transform: translateY(0) scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes roundWin {
  0% {
    transform: translateX(0);
    z-index: 10;
  }
  30% {
    transform: translateX(-10vw);
  }
  90% {
    z-index: 10;
  }
  100% {
    z-index: 0;
    transform: translate(0);
  }
}

@keyframes roundWinAi {
  0% {
    transform: scaleX(-1) translateX(0);
    z-index: 10;
  }
  30% {
    transform: scaleX(-1) translateX(-10vw);
  }
  90% {
    z-index: 10;
  }
  100% {
    z-index: 0;

    transform: scaleX(-1) translate(0);
  }
}

@keyframes addPoint {
  0% {
    transform: scale(10);
    opacity: 0.5;
  }
  95% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes draw {
  0% {
    transform: translateX(0);
    z-index: 10;
  }
  10% {
    transform: translateX(-3vw);
  }
  30% {
    transform: translateX(-2vw);
  }
  70% {
    transform: translateX(-3vw);
  }
  100% {
    z-index: 0;
    transform: translate(0);
  }
}

@keyframes drawAi {
  0% {
    transform: scaleX(-1) translateX(0);
    z-index: 10;
  }
  10% {
    transform: scaleX(-1) translateX(-3vw);
  }
  30% {
    transform: scaleX(-1) translateX(-2vw);
  }
  70% {
    transform: scaleX(-1) translateX(-3vw);
  }

  100% {
    z-index: 0;

    transform: scaleX(-1) translate(0);
  }
}
